# Disable any work directory
work/

# Ignore tb files
*.plog
*.ptrace
loadfile_all.img

# Ignore any modelsim project files
*.mpf
*.mti
*.bak
*.wlf
.nfs*
transcript
dump.vcd

# Ignore VIM swap files
*.swp

# Ignore any Vivado files
xsim*

webtalk*.jou
webtalk*.log
xelab.*
xvlog.*
vivado*
*.wcfg
*.wdb
